.wrapper{
    width: 100%;
    height: 15rem;
    background-color: #ee2a2a;
    display: grid;
    place-items: center;
}

.wrapper a{
    padding: 1rem 2rem;
    border-radius: .5rem;
    background-color: green;
    color: white;
}