h1{
    text-align: center;
}

.articles{
    width: 100%;
    text-align: center;
}

.article{
    display: flex;
    align-items: center;
    gap: 10px;
}

.img{
    width: min-content;
    margin-top: 15px;
}

.article img{
    width: 150px;
    height: 200px;
    object-fit: cover;
}