h1{
    text-align: center;
}

.mid-form{
    max-width: 50%;
    max-height: 100%;
}

.form-group{
    display: flex;
    flex-direction: column;
}

#contentt{
    width: 50%;
    margin-left: 20px;
}

.btn-submit{
    padding: .5rem 2rem; 
    background-color: green;
    color: white;
    border-radius: .5rem;
    border: none;
    margin-top: .5rem;
    cursor: pointer;
    transition: all .15s ease-in-out;

    &:hover{
        background-color: aqua;
    }
}
